:root {
    
    --clr-btn-primary-text: hsl(var(--clr-base-hue), 100%, 20%);
    --clr-btn-primary-text-dark: hsl(var(--clr-base-hue), 100%, 10%);
    --clr-btn-primary-background: hsl(var(--clr-base-hue), 100%, 83%);
    --clr-btn-primary-background-dark: hsl(var(--clr-base-hue), 100%, 73%);
    --clr-btn-danger-text: black;
    --clr-btn-danger-text-dark: black;
    --clr-btn-danger-background: hsl(var(--clr-danger-hue), 100%, 83%);
    --clr-btn-danger-background-dark: hsl(var(--clr-danger-hue), 100%, 73%);
    --clr-btn-border: #000;
}


.btn {
    border: 1px solid var(--clr-btn-border);
    border-radius: .5rem;
    font-size: .5rem 1rem;
    font-size: .8rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: .2rem .5rem;
    cursor: pointer;
    
}

.btn-row {
    display: flex;
    align-items: flex-start;
}

.btn-row > * {
    margin-left: 1rem;
}

.btn-row > *:first-child {
   margin-left: 0;
}

.btn-primary {
    color: var(--clr-btn-primary-text);
    background-color: var(--clr-btn-primary-background);
   
}
.btn-primary:hover {
    color: var(--clr-btn-primary-text-dark);
    background-color: var(--clr-btn-primary-background-dark);
   
}

.btn-danger {
    color: var(--clr-btn-danger-text);
    background: var(--clr-btn-danger-background);  
}

.btn-danger:hover {
    color: var(--clr-btn-danger-text-dark);
    background: var(--clr-btn-danger-background-dark);  
}